<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tfjybj.english.provider.dao.PhoneficDao">
	<!--根据Phonefic音标模糊查询PhoneficEntity-->
    <select id="queryLikePhonefic" resultType="com.tfjybj.english.entity.PhoneficEntity">
        SELECT
			*
        FROM
			tn_phonefic f
        WHERE
			f.is_delete = 0
        <if test="phonefic !=''">
            <bind name="pattern" value="'%' + phonefic + '%'"/>
            AND f.phonefic LIKE #{pattern}
        </if>
        ORDER BY
        f.create_time DESC
    </select>
    <select id="selectAudioByPhonefic" resultType="com.tfjybj.english.entity.PhoneficEntity">
        select * from tn_phonefic where phonefic = #{phonefic}
    </select>
    <!--音标练习(看)-根据id查询所有图片等-邢美玲-->
    <select id="getPhoneficById" resultType="com.tfjybj.english.model.PhoneficModel">
        SELECT
        *
        FROM
        tn_phonefic tp
        WHERE
        tp. is_delete =0
        And
        tp.id =#{id}
    </select>
</mapper>