<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tfjybj.english.provider.dao.PhoneficTestDao">
	<!--根据PhoneficTest音标id模糊查询PhoneficTestEntity-->
    <select id="queryLikePhoneficId" resultType="com.tfjybj.english.entity.PhoneficTestEntity">
        SELECT
			*
        FROM
			tn_phonefic_test f
        WHERE
			f.is_delete = 0
        <if test="phoneficId !=''">
            <bind name="pattern" value="'%' + phoneficId + '%'"/>
            AND f.phonefic_id LIKE #{pattern}
        </if>
        ORDER BY
        f.create_time DESC
    </select>
    <select id="queryWordIdAudioPicByPhoneficId" resultType="com.tfjybj.english.model.WordModel">
        SELECT
            tnw.id,
            tnw.audio,
            tnw.word_picture1,
            tnw.word_picture2,
            tnw.word_picture3,
            tnw.word_picture4,
            tnw.word_picture5
        FROM
            tn_word tnw
        LEFT JOIN tn_phonefic_test tnp ON tnw.id = tnp.word_id
        WHERE
            tnp.phonefic_id = #{phoneficId}
    </select>

    <select id="queryAudioByPhoneficId" resultType="com.tfjybj.english.model.PhoneficTestModel">
        SELECT
          p.audio,
          COUNT(1)
        FROM
          tn_phonefic_test pt
        Left JOIN
          tn_phonefic p ON pt.phonefic_id = p.id
    </select>
    <select id="selectWordByPhoneficId" resultType="com.tfjybj.english.model.PhoneficTestModel">
        SELECT
          *
        FROM
          tn_phonefic_test
        WHERE
          phonefic_id = #{phoneficId}
    </select>
    <select id="queryStateByWord" resultType="com.tfjybj.english.entity.PhoneficTestEntity">
        select * from tn_phonefic_test where word = #{word}
    </select>
</mapper>