<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tfjybj.english.provider.dao.PhoneticCorrespondWordsDao">
	<!--根据PhoneticCorrespondWords单词全拼模糊查询PhoneticCorrespondWordsEntity-->
    <select id="queryLikeWord" resultType="com.tfjybj.english.entity.PhoneticCorrespondWordsEntity">
        SELECT
			*
        FROM
			tn_phonetic_correspond_words f
        WHERE
			f.is_delete = 0
        <if test="word !=''">
            <bind name="pattern" value="'%' + word + '%'"/>
            AND f.word LIKE #{pattern}
        </if>
        ORDER BY
        f.create_time DESC
    </select>
    <!--根据音标ID查询对应的单词 -闫伟强-->
    <select id="findWordById" resultType="com.tfjybj.english.entity.PhoneticCorrespondWordsEntity">
        SELECT
        *
        FROM
        tn_phonetic_correspond_words
        WHERE
        phonefic_id = #{phoneficId}
    </select>
</mapper>