<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tfjybj.english.provider.dao.UserSetDao">


    <!--根据userid查询该用户的设置信息-->
    <select id="findUserSetById" resultType="com.tfjybj.english.entity.UserSetEntity">
        SELECT
        *
        FROM
        tn_user_set
        WHERE
        user_id=#{userId}
    </select>

    <!--根据userid修改该用户的设置信息-->
    <update id="modifyById">
        UPDATE
          tn_user_set
        SET
          play_nums = #{palyNums},
          is_turn_auto = #{isTurnAuto},
          turn_delay_time = #{tuenDelayTime},
          study_number = #{studyNumber},
          is_show_word = #{isShowWord}
        WHERE
	      user_id =#{userId}
    </update>

    <select id="queryStudyNumByUserId" resultType="int">
        SELECT
            study_number
        FROM
            tn_user_set
        where
            user_id = #{userId}
    </select>
</mapper>