<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tfjybj.english.provider.dao.UserSetDao">
	<!--根据UserSet用户id模糊查询UserSetEntity-->
    <select id="queryLikeUserId" resultType="com.tfjybj.english.entity.UserSetEntity">
        SELECT
			*
        FROM
			tn_user_set f
        WHERE
			f.is_delete = 0
        <if test="userId !=''">
            <bind name="pattern" value="'%' + userId + '%'"/>
            AND f.user_id LIKE #{pattern}
        </if>
        ORDER BY
        f.create_time DESC
    </select>

    <!--根据用户id，查询用户设置——白爱民2019年6月11日18:13:01-->
    <select id="getStudyNumberService" resultType="com.tfjybj.english.model.UserSetModel">
        SELECT
            *
        FROM
            tn_user_set
        WHERE
            is_delete = 0
            AND user_id = #{userId}
        ORDER BY
            update_time DESC
    </select>

    <!--根据UserSet用户id查询UserSetEntity-->
    <select id="selectByUserId" resultType="com.tfjybj.english.entity.UserSetEntity">
        SELECT
          *
        FROM
          tn_user_set
        WHERE
          user_id = #{userId}
    </select>

    <!--根据用户id更新联播次数-->
    <select id="updateTimesById" resultType="com.tfjybj.english.entity.UserSetEntity">
        UPDATE
          tn_user_set
        SET
          phonefic_number = #{phoneficNumber}
        WHERE
          user_id = #{userId}
    </select>
</mapper>