<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tfjybj.english.provider.dao.UserRecordDao">

    <!--根据UserRecord用户id查询已学单词word_id的数量-邢美玲-->
    <select id="findStudyWordById" resultType="java.lang.Integer">
        SELECT
          count( DISTINCT r.word_id )
        FROM
        tn_user_record r
        Where
        is_delete= 0
        AND r.user_id = #{userid}
    </select>
    <!--根据用户id查询未检测的单词-张伟杰-->
    <select id="queryNoDetectedByUId" resultType="com.tfjybj.english.model.UserRecordModel">
        SELECT
            a.*,
	        b.audio,
	        b.word_picture1,
	        b.word_picture5
        FROM
	        `tn_user_record` AS a,
	        tn_word AS b
        WHERE
	        a.word_id = b.id
            AND a.user_id = #{userId}
            AND a.`status` = 0
            AND a.is_delete = 0
            AND a.type = 1
    </select>
     <!--    根据用户Id(user_id)查询当天学习的音标ID(phonefic_id)-->
    <select id="selectPhoneficIdByUserIdAndcreatetime" resultType="com.tfjybj.english.model.UserRecordModel">
        SELECT
            phonefic_id
        FROM
            tn_user_record
        WHERE
            user_id = #{userId}
            AND is_delete = '0'
            AND create_time BETWEEN (CURDATE())
            AND (CURDATE()+1)
     </select>
    <!--根据用户id和音标id查询该音标今天是否学习过-闫伟强-->
    <select id="queryPhoneficByUIdAndPId" resultType="com.tfjybj.english.model.UserRecordModel">
	    SELECT
	     *
        FROM
	    tn_user_record AS a
        WHERE
	        a.phonefic_id = #{phoneficId}
	    AND a.user_id = #{userId}
	    AND a.type = 2
	    AND a.is_delete = 0
	    AND a.create_time >= ( SELECT curdate( ) )
    </select>
    <select id="queryphoneficIdByuserId" resultType="com.tfjybj.english.model.UserRecordModel">
            SELECT
    tur.phonefic_id
    FROM
    tn_user_record  tur
    WHERE
    tur.user_id = #{userId}
    AND tur.phonefic_id != 'null'
    AND tur.is_delete = 0
    AND create_time BETWEEN (CURDATE())
                AND (CURDATE()+1)
    </select>

</mapper>
