<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tfjybj.english.provider.dao.UserDao">
	<!--根据User用户id模糊查询UserEntity-->
    <select id="queryLikeUserId" resultType="com.tfjybj.english.entity.UserEntity">
        SELECT
			*
        FROM
			tn_user f
        WHERE
			f.is_delete = 0
        <if test="userId !=''">
            <bind name="pattern" value="'%' + userId + '%'"/>
            AND f.user_id LIKE #{pattern}
        </if>
        ORDER BY
        f.create_time DESC
    </select>
    <!--根据userId查询用户-张伟杰-2019年6月13日12:08:48-->
    <select id="queryUserByUserId" resultType="com.tfjybj.english.model.UserModel">
        SELECT
            *
        FROM
            tn_user
        WHERE
            is_delete = 0
            AND user_id = #{userId}
        ORDER BY
            update_time DESC
    </select>

</mapper>