<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tfjybj.english.provider.dao.WordDao">
    <!--根据Word单词模糊查询WordEntity-->
    <select id="queryLikeWord" resultType="com.tfjybj.english.entity.WordEntity">
        SELECT
        *
        FROM
        tn_word f
        WHERE
        f.is_delete = 0
        <if test="word !=''">
            <bind name="pattern" value="'%' + word + '%'"/>
            AND f.word LIKE #{pattern}
        </if>
        ORDER BY
        f.create_time DESC
    </select>
    <!--根据设定学习量查询数据条数 -马莹-2019-6-9 19:41:00-->
    <select id="selDataNum" resultType="com.tfjybj.english.model.WordModel">
        SELECT
            *
        FROM
            tn_word tw
        WHERE
            tw.is_delete = 0
            LIMIT #{setNumber}
    </select>

    <!--查询所有单词-邢美玲-->
    <select id="selectAll" resultType="integer">
        SELECT
        COUNT(*)
        FROM
        tn_word
    </select>

    <!--根据Id查询图片-任嘉颖-2019年6月11日09:16:06-->
    <select id="selectPhoneficPictureById" resultType="com.tfjybj.english.model.WordModel">
        SELECT
        *
        FROM
        tn_word f
        WHERE
        f.is_delete = 0
        LIMIT #{studSum}
    </select>
    <select id="queryPhoneticByWordId" resultType="com.tfjybj.english.model.WordTestModel">
      SELECT
        tn_word_test.phonefic
      FROM
        tn_word_test
      WHERE
        tn_word_test.word_id = #{wordId}

    </select>

    <select id="queryStateByWord" resultType="com.tfjybj.english.entity.WordEntity">
        select * from tn_word where word = #{word}
    </select>
    <select id="queryPictureByWord" resultType="com.tfjybj.english.entity.WordEntity">
        select * from tn_word where word = #{word}
    </select>
    <!-- 无参查询word表中所有数据-2019-6-12 20:32:04-马莹-->
    <select id="queryWordAll" resultType="com.tfjybj.english.model.WordModel">
        SELECT
            *
        FROM
            tn_word tw
        WHERE
            tw.is_delete = 0
    </select>
    <select id="queryAudioBywordId" resultType="com.tfjybj.english.model.WordModel">
        select
          audio
        from
          tn_word
        where
          id = #{wordId}
    </select>
    <select id="queryPictureByPhoneficId" resultType="com.tfjybj.english.model.WordModel">
                SELECT
        *
    FROM
        tn_word tw
    LEFT JOIN tn_phonefic_test tpt ON tpt.word_id = tw.id
    WHERE tpt.phonefic_id = #{phoneficId}
    LIMIT 2
    </select>
    <select id="queryWordAboutByUserId" resultType="com.tfjybj.english.model.WordModel">
            SELECT
        tnw.id ,
        tnw.audio ,
        tur.create_time
    FROM
    tn_user_record tur
    LEFT JOIN
    tn_word tnw  ON tnw.id = tur.word_id
    WHERE
    tur.user_id= #{userId}
    ORDER BY
        tur.create_time
        DESC
        LIMIT 1
    </select>

</mapper>
