<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tfjybj.english.provider.dao.WordDao">
    <!--根据Word单词模糊查询
    WordEntity-->

    <!--根据设定学习量查询数据条数 -马莹-2019-6-9 19:41:00-->
    <select id="selDataNum" resultType="com.tfjybj.english.model.WordModel">
        SELECT
            *
        FROM
            tn_word tw
        WHERE
            tw.is_delete = 0
            LIMIT #{setNumber}
    </select>

    <!--查询所有单词-邢美玲-->
    <select id="selectAll" resultType="integer">
        SELECT
        COUNT(*)
        FROM
        tn_word
    </select>

    <!--根据Id查询图片-任嘉颖-2019年6月11日09:16:06-->
    <select id="selectPhoneficPictureById" resultType="com.tfjybj.english.model.WordModel">
        SELECT
        *
        FROM
        tn_word f
        WHERE
        f.is_delete = 0
        LIMIT #{studSum}
    </select>

</mapper>
